/* .mppw-login {

    a {
        
        #userImage {
            display: none;
        }
    }
} */

.mppw-login > a {
    letter-spacing: 1px;
    line-height: 60px;
    color: #fff;
    display: inline-block;
    font-family: "lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-color: transparent;
    text-decoration: none;
    line-height: inherit;
}

.mppw-login #userImage {
    display: none;
}

.mppw-login--username {
    font-family: "lato", sans-serif;
}

.mppw-login--container:active {
    color: #fff !important;
}

.mppw-login--container::after {
    display: none !important;
}

.mppw-login--container:hover, .mppw-login--container:focus {
    color: #fff;
}

.mppw-component-container .mppw-loggedout--username .mppw-icon-unlock .mppw-loggedout--label {
    font-family: "lato", sans-serif;
} 
.mppw-login .mppw-login--list {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}

.mppw-login--list-item a {
    display: block;
    color: #9b9b9b;
    font-family: "lato", sans-serif;;
    font-size: 13px;
    font-weight: 700;
    padding: 0;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: none;
}

.mppw-login--list-item a:hover {
    color: #caac36;
    background-color: rgba(245, 245, 245, 0.9);
}

.mppw-login--list:nth-child(1) {
    order: 4;
}

.mppw-login--list:nth-child(2) {
    order: 2;
}

.mppw-login--list:nth-child(3) {
    order: 1;
}

.mppw-login--list:nth-child(4) {
    order: 3;
}

.mppw-loggedout--username:hover, .mppw-loggedout--username:focus {
    color: #fff;
}