/* .mppw-login {

    a {
        
        #userImage {
            display: none;
        }
    }
} */

.mppw-login > a {
    letter-spacing: 1px;
    line-height: 60px !important;
    color: #fff;
    display: inline-block;
    font-size: 13px;
    font-weight: 700;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-color: transparent;
    text-decoration: none;
    line-height: inherit;
}

.mppw-login #userImage {
    display: none;
}

.mppw-login--username::after {
    display: none;
}

.mppw-login .mppw-login--list {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}