/* Login styling */
.mppw-login > a {
    letter-spacing: 1px;
    line-height: 60px !important;
    color: #fff;
    display: inline-block;
    font-family: "lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding: 0 20px;
    position: relative;
    text-transform: uppercase;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    background-color: transparent;
    text-decoration: none;
    line-height: inherit;
}

.mppw-login #userImage {
    display: none;
}

.mppw-login--username {
    display: none;
    font-family: "lato", sans-serif;
}

.mppw-login--username::before {
    content: "MyShades";
}

.mppw-login--username.active {
    display: flex !important;
    align-items: center;
}

#widget-container {
    display: none;
}

#widget-container.active {
    display: block !important;
}

.mppw-login--container:active {
    color: #fff !important;
}

.mppw-login--container::after {
    display: none !important;
}

.mppw-icon-unlock {
    display: none;
}

.mppw-login--container:hover, .mppw-login--container:focus {
    color: #fff;
}

.mppw-login--dropdown {
    box-shadow: none !important;
    display: flex;
    width: 210px;
    left: -15px;
    text-align: left;
    margin-top: 0 !important;
    padding: 0 !important;
    border-radius: 0 !important;
    border: none !important;
}

.opaque .mppw-login--dropdown {
    background-color: #E5E5E5;
}

.login-label {
    text-decoration: none !important;
    text-transform: none !important;
    cursor: default !important;
}

.login-label:hover {
    color: #9b9b9b !important;
}

#securedMenuItems {
    padding: 30px;
}

.mppw-loggedout--label {
    font-family: "lato", sans-serif;
    display: flex;
    align-items: center;
} 
.mppw-login .mppw-login--list {
    display: flex;
    flex-direction: column;
    flex-flow: column-reverse;
}

.mppw-login--list-item a {
    display: block;
    color: #9b9b9b;
    font-family: "lato", sans-serif;
    font-size: 13px;
    font-weight: 700;
    padding: 0;
    line-height: 27px;
    text-transform: uppercase;
    text-decoration: none;
}

.mppw-login--list-item a:hover {
    background: none !important;
    color: #caac36;
    text-decoration: none;
}

.mppw-login--list:nth-child(1) {
    order: 4;
}

.mppw-login--list:nth-child(2) {
    order: 2;
}

.mppw-login--list:nth-child(3) {
    order: 1;
}

.mppw-login--list:nth-child(4) {
    order: 3;
}

.mppw-loggedout--username:hover, .mppw-loggedout--username:focus {
    color: #fff;
}

/* Widget Logged Out Styling */

#loginButtonContainer #myGroupsNotLoggedIn {
    background-color: #caac36;
    border: none;
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.mppw-alert__icon {
    display: none;
}

.mppw-alert__text {
    color: #fff;
    font-family: "lato", sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 20px;
    padding: none;
    padding-left: none;
    text-transform: uppercase;
}

.mppw-btn {
    border: solid 1px #caac36 !important;
    border-top-color: #caac36 !important;
    border-right-color: #caac36 !important;
    border-bottom-color: #caac36 !important;
    border-left-color: #caac36 !important;
    box-shadow: none;
    color: #434343 !important;
    line-height: 2 !important;
    background: transparent !important;
    border-radius: 30px !important;
    color: #434343 !important;
    display: inline-block !important;
    font-family: "lato", sans-serif !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: bold !important;
    line-height: 1.6 !important;
    padding: 3px 30px 5px !important;
    -webkit-transition: ease 0.15s all !important;
    -o-transition: ease 0.15s all !important;
    transition: ease 0.15s all !important;
    text-decoration: none !important;
}

.mppw-btn:hover, .mppw-btn:active {
    color: #ffffff !important;
    cursor: pointer !important;
    background: #caac36 !important;
    border: solid 1px #caac36 !important;
    border-color: #caac36 !important;
    border-top-color: #caac36 !important;
    border-right-color: #caac36 !important;
    border-bottom-color: #caac36 !important;
    border-left-color: #caac36 !important;
}

/* My Groups Styling */

.mppw-card--grid {
    grid-template-columns: repeat(3, 340px) !important;
}

#myGroupsWrapper {
    display: none;
}
.mpp-card {
    border-radius: 0px !important;
    box-shadow: none !important;
    border: 1px solid #E5E5E5;
}

.mpp-card--image {
    height: 188px;
}

.mpp-card--body {
    padding: 30px 30px 14px 30px;
}

.mpp-card--title {
    font-size: 25px !important;
    font-family: "lato", sans-serif !important;
    line-height: 30px;
    display: block !important;
    max-height: none !important;
    color: #000;
    padding-bottom: 14px;
}

.mpp-card--subtitle {
    color: #2B2B2B;
    font-family: "lato", sans-serif !important;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1px;
    padding-bottom: 14px;
    text-transform: uppercase;
}

.mpp-card--description {
    color: #8B8B8B;
    max-height: none;
    font-size: 16px;
    line-height: 24px;
    -webkit-line-clamp: 10 !important;
}