@tailwind base;
@tailwind components;
@tailwind utilities;

.w-500 {
    width: 500px;
}

.work-tile > img {
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
    opacity: .8;
    border-radius: 5px;
    cursor: pointer;
}

.work-tile > img:hover {
    opacity: 50%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Josefin Sans', sans-serif;
}

p, li {
    font-family: 'Open Sans', sans-serif;
}

aside > p, h3 {
        cursor: wait;
    }
